.git
.gitignore
.github
.vscode
.idea

node_modules
npm-debug.log

Dockerfile
docker-compose.yml

**/bin
**/obj

*.user
*.suo

**/TestResults
**/*.log
coverage
memo-words/.env
MemoWords/MemoWords.Api/appsettings.Development.json

